<div class="jumbotron">
 <h1 id="title">Gastropangs</h1>
 <h2 id="tagline">It doesn't always have to be MAN vs FOOD.</h2>
</div>
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><a data-toggle="collapse" data-parent=".panel-group" href="#one">
           On Feeling Hungry and Our Eating Habits</a></h4>
    </div>
    <div id="one" class="panel-collapse collapse in">
      <div class="panel-body">
        Have you ever eaten until you can't finish dessert? No? Me neither. But while being full is relative, many of us have a habit of eating until we are a little too sated. For the sake of our stomaches, sometimes we just have to concede defeat to that delicious stacked burger or seafood casserole. Next meal, see if you can resist the temptation to keep eating and stop when you are no longer hungry instead of continuing onwards until you are <em>stufd</em>. I have already failed, but tomorrow is a new day!
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><a data-toggle="collapse" data-parent="#accordion" href="#two">
          What is Gastropangs, that is, beside stomach pains?</a></h4>
    </div>
    <div id="two" class="panel-collapse collapse in">
      <div class="panel-body">
        Once you <%= link_to 'sign up', new_user_session_path %>:
        <ol>
          <li> start recording how <em>stufd</em> you are (on a scale of 1 to 10) after your meals</li>
          <li> get an overview of when you often eat until you are too full from our scoreboard</li>
          <li> utilize our graph page, which offers multiple search parameters for rendering visualizations </li>
        </ol>
        Hopefully, Gastropangs might help you to stay conscious of your eating habits and alert you to certain red flags in your consumption patterns!
      </div>
    </div>
  </div>
</div>

