<div class="jumbotron">
 <h1 id="title">Gastropangs</h1>
 <h2 id="tagline">It doesn't always have to be MAN vs FOOD.</h2>
</div>
<div class="panel-group">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h4><a data-toggle="collapse" data-parent=".panel-group" href="#one">
           On Eating Habits</a></h4>
    </div>
    <div id="one" class="panel-collapse collapse in">
      <div class="panel-body">
        Have you ever eaten until you can't finish dessert? No? Me neither.
        But while being full is relative, many of us have a habit of eating until we are a little too sated. For the sake of our stomaches, sometimes we just have to concede defeat to that delicious stacked burger or seafood casserole.
        Next meal, see if you can resist the temptation to keep eating you are no longer hungry and not continue onwards until you are <em>stufd</em>.
        I have already failed, but tomorrow is a new day!
      </div>
    </div>
  </div>
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h4><a data-toggle="collapse" data-parent="#accordion" href="#two">
          About Gastropangs</a></h4>
    </div>
    <div id="two" class="panel-collapse collapse in">
      <div class="panel-body">

      </div>
    </div>
  </div>
</div>
