<div class="panel panel-default">
  <div class="panel-heading"><%= will_paginate @meals_display %></div>
    <div id="meal-list">
     <ul class="list-group">
      <% @meals_display.each do |meal| %>
      <li class="list-group-item"><span class="date"><%= meal.date.strftime("%a, %b %d") %>:</span> <%= meal.time %> <%= link_to 'Details', user_meal_path(meal.user_id, meal.id) %></li>
      <% end %>
      </ul>
    </div>
  </div>

