<div class="row">
  <div class="col-md-4">
    <%= render partial: 'new_form' %>
  </div>
  <div class="col-md-6">
    <h3 class="open_report">Report</h3>
      <h6 class="open_report">(Click to View)</h6>
        <div id="report">
          <%= render partial: 'meals_report' %>
        </div>
    <svg id="graph">
    </svg>
  </div>
  <div class="col-md-2">
    <div class="btn-group-vertical">
      <button id="clear" class="btn btn-danger">Clear Graph</button>
      <button id="today" class="btn btn-info">Today's Meals</button>
      <button id="recent" data-user="<%= current_user.id %>" class="btn btn-success">Recent Meals</button>
      <button id="overate" class="btn btn-primary">OverStufd Meals</button>
      <input id="search_dow" placeholder="(e.g. 'Monday')" class="form-control">
      <button id="graph_by_dow" class="btn btn-warning">View by Day of Week</button>
    </div>
    <h4 class="open_scoreboard">Stufd Scoreboard</h4>
      <h6 class="open_scoreboard">(Click to View)</h6>
      <%= render partial: 'stufd_score' %>
  </div>
</div>



