// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  text-align: center;
  font-family: 'Philosopher', sans-serif;
  color: #CD4F39;
}

.navbar {
  background-color: #B0E2FF;
  font-family: 'Philosopher', sans-serif;
  font-size: 1.25em;
}

#home a {
  font-size: 2.5em;
  color: #CD4F39;
  font-weight: bold;
}

#home a:hover {
  text-decoration: none;
  opacity: 0.5;
}

body {
  background-color: tomato;
}

.panel-heading h4 {
  text-align: center;
  color:#71C671;
}

.panel-heading h4 a{
  color:#71C671;
  font-size: 1.25em;
  font-family: 'Philosopher', sans-serif;
}

.notice-alert{
  font-family: 'Philosopher', sans-serif;
}

.dropdown-menu{
  font-size: 1.25em;
  background-color:#F0FFF0;
  border-radius: 6px;
}

.panel-heading h4 a:hover{
text-decoration: none;
color: #8B8682;
}

footer {
  background-color:#B0E2FF;
  opacity: 0.8;
  font-family: 'Philosopher', sans-serif;
  font-weight: bold;
  padding-left: 10px;
}
