.jumbotron {
  text-align: center;
  font-family: 'Gudea', sans-serif;
  color:tomato;
  background-color:#F5F5F5;
  background-image: url('http://4.bp.blogspot.com/-kUn4jfjWpq4/TejdJtZ53LI/AAAAAAAADIA/8HK6zIyzYvc/s1600/cheese-and-sausage-stuffed-hamburger.JPG');
}

.navbar {
  background-color: #FCFCFC;
  opacity: .5;
  font-family: 'Gudea', sans-serif;
  font-size: 1.25em;
  min-height: 10px;
  border-radius: 0px;
  color:tomato;
}

.nav.navbar-nav li a{
  color:tomato;
}

#home a:hover {
  text-decoration:none;
  opacity: 0.5;
}

body {
  background-color: #F5F5F5;
}

.panel-heading h4 {
  text-align: center;
}

.panel-heading h4 a{
  color: #696969;
  font-size: 1.25em;
  font-family: 'Gudea', sans-serif;
}

.notice-alert{
  font-family: 'Gudea', sans-serif;
}

.dropdown-menu{
  background-color:#FCFCFC;
}

.dropdown a{
  font-size: .85em;
}

.panel-heading h4 a:hover{
  text-decoration: none;
  color: tomato;
}

#tagline {
  font-style: italic;
  color:#FCFCFC;
}

#one {
  text-align: center;
  font-size: 1.25em;
}

#two {
  text-align: left;
  font-size: 1.25em;
}

@media (max-device-width: 450px){
  #title {
    font-size: 2.5em;
    padding: none;
  }

  #tagline {
    font-size: 1.25em;
  }

  #home a {
    font-size: 1.75em;
  }

  .dropdown-menu {
    font-size: .75em;
  }

  .dropdown-toggle {
    font-size: .75em;
  }

  .notice-alert {
    font-size: .75em;
  }

  #one {
    font-size: .75em;
  }

  #two {
    font-size: .75em;
  }

  .panel-heading h4 a {
    font-size: 1em;
  }

}
