.jumbotron {
  text-align: center;
  font-family: 'Philosopher', sans-serif;
  color: #CD4F39;
}

.navbar {
  background-color: #B0E2FF;
  font-family: 'Philosopher', sans-serif;
  font-size: 1.25em;
}

#home a {
  font-size: 2.75em;
  color: #CD4F39;
  font-weight: bold;
}

#home a:hover {
  text-decoration: none;
  opacity: 0.5;
}

body {
  background-color: tomato;
}

.panel-heading h4 {
  text-align: center;
  color:#71C671;
}

.panel-heading h4 a{
  color: steelblue;
  font-size: 1.25em;
  font-family: 'Philosopher', sans-serif;
}

.notice-alert{
  font-family: 'Philosopher', sans-serif;
}

.dropdown-menu{
  font-size: 1.25em;
  background-color:#F0FFF0;
  border-radius: 6px;
}

.panel-heading h4 a:hover{
  text-decoration: none;
  color: #8B8682;
}

#tagline {
  color: steelblue;
}

#one {
  background-color: #ECF1EF;
  text-align: center;
  font-size: 1.25em;
}

#two {
  background-color: #ECF1EF;
  text-align: center;
  font-size: 1.25em;

}

@media (max-device-width: 450px){
  #title {
    font-size: 2.5em;
    padding: none;
  }

  #tagline {
    font-size: 1.25em;
  }

  #home a {
    font-size: 1.75em;
  }

  .dropdown-menu {
    font-size: .75em;
  }

  .dropdown-toggle {
    font-size: .75em;
  }

  .notice-alert {
    font-size: .75em;
  }

  #one {
    font-size: .75em;
  }

  #two {
    font-size: .75em;
  }

  .panel-heading h4 a {
    font-size: 1em;
  }

}
