#meal_level_of_fullness {
    -webkit-appearance: slider-vertical;
    width: 150%;
    height: 300px;
}

.col-md-6 {
  text-align: center;
  font-size: 1.5em;
  font-family: 'Philosopher', sans-serif;
}

.date {
  color: #71C671;
  font-family: 'Philosopher', sans-serif;
}

.note {
  color: #71C671;
  font-size: 1.5em;
  font-family: 'Philosopher', sans-serif;
}

.open_report {
  text-align: center;
  font-family: 'Philosopher', sans-serif;
}

.panel-heading {
  text-align: center;
  font-family: 'Philosopher', sans-serif;
}

.open_scoreboard {
  text-align: center;
  font-family: 'Philosopher', sans-serif;
}

.list-group-item {
  text-align: center;
}

#report {
  font-family: 'Philosopher', sans-serif;
}

#score {
  text-align: center;
  font-family: 'Philosopher', sans-serif;
}

#score h4 {
  color: #71C671;
  font-size: 1.25em;
  font-family: 'Philosopher', sans-serif;
}

h3 {
  font-size: 1.5em;
}

.btn-group-vertical button{
  font-family: 'Philosopher', sans-serif;
}

.well {
  background-color: #F0FFF0;
  border-radius: 6px;
  border-color: #B0E2FF;
  border-width: 5px;
  text-align: center;
}

#level {
  font-size: 2em;
  color: tomato;
}

#legend {
  padding: 20px;
}

.panel {
  border-radius: 6px;
  border-color: #B0E2FF;
  border-width: 5px;
}

.panel-body {
  font-family: 'Philosopher', sans-serif;
}

#graph {
  margin: 3 0px 0
 }

ul.nav li a{
  color: black;
  font-family: 'Philosopher', sans-serif;
}

ul.nav li a:hover{
  background-color: tomato;
  opacity: 0.5;
}

ul.nav .active a{
  color: tomato;
}

@media (max-device-width: 450px){
  .note {
    font-size: 1em;
  }

  .list-group-item {
    font-size: .75em;
  }

  .panel-heading {
    font-size: .75em;
  }

 .btn-group-vertical {
    white-space: normal;
    width: 130%;
    margin: 3 0px 0;
  }

 .btn-group-vertical button {
   font-size: .4em;
 }

 #search_dow {
 font-size: .5em;
 }

}

